h3 {
    text-align: center !important;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #dbdbdb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 219, 219);
    background-color: #fff;
    font-family: "proxima-nova", sans-serif;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-tap-highlight-color: transparent;

}


button {
    font-family: "proxima-nova",sans-serif;
    font-weight: 300;

    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    padding-right: 0.6rem!important;
    padding-left: 0.6rem!important;
    margin-right: 0.2rem!important;
    margin-left: 0.2rem!important;
    color: #333333;
    background-color: #fff;

    box-shadow: none;

    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-color: rgb(153, 153, 153);
    transition: all 0.2s ease-in-out;

    margin: 5px;s
}

table tr td {
    text-transform: uppercase !important;
    font-size: 0.95rem;
    font-family: "proxima-nova",sans-serif;
    font-weight: 300;
    padding: 5px;
    text-align: left;
    border-bottom: 0.5px groove #f2f2f2;
    border-collapse: collapse;
}

#btn-submit {
    font-family: "proxima-nova",sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.10rem;
    padding-right: 0.7rem!important;
    padding-left: 0.7rem!important;
    margin-right: 0.3rem!important;
    margin-left: 0.3rem!important;
    color: #333333;
    background-color: #fff;

    box-shadow: none;

    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-color: rgb(153, 153, 153);
    transition: all 0.2s ease-in-out;

    margin: 5px;s
}

#btn-submit:focus {
    background: black;
    color: white !important;
    outline:0;
}

#btn-submit:hover{
    background: black;
    color: white !important;
}

.highlight{
    background: black;
    color: white !important;
    outline:0;
}

button:focus{
    background: black;
    color: white !important;
    outline:0;
}

button:hover{
    background: black;
    color: white !important;
}
