<!DOCTYPE html>
<title>Sephora Reviews</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<html lang="en">
	<body>
	    <h3 style="font-size: 16px !important; text-transform: none !important;">Want to know which Sephora products are highest rated based on your physical traits? Find out by trying my App!</h3>
	    <h3>Select Product Type:</h3>
		<div class="btn-group3" style="text-align:center">
 			<button onclick="location.href='/skincare';">Skincare</button>
			<button onclick="location.href='/bathandbody';">Bath and Body</button>
			<button onclick="location.href='/fragranceandgifts';">Fragrance and Gifts</button>
			<button onclick="location.href='/bybrand';">by Brand</button>
		</div>
		<br>
	</body>
</html>
